* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 900px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Permanent Marker', cursive;
}

header {
    font-size: 1.8em;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    opacity: .5;
}

img {
    max-width: 900px;
    width: 12vw;
    height: 12vh;
}

button { 
    max-width: 150px;
    width: 15vw;
    height: 15vh; 
}

button:active {
    transform: translateY(4px);
}

button:hover {
    opacity: .8;
}

button:disabled {
    opacity: .5;
    cursor: not-allowed;
}

#buttons {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

#choices {
    max-width: 900px;
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

#choices img {
    width: 8vw;
    height: 8vh;
}

#score {
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.displayPlayerScore {
    font-size: 2em;
 }

#computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayComputerScore {
    font-size: 2em;
 }

#gameResult {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

#gameResult button {
    font-family: 'Permanent Marker', cursive;
    max-width: 150px;
    width: 15vw;
    height: 5vh;
}